/.bashrc
/.cache
/.config
/.idea
/.ipython
/.keras
/.vimrc
/.zcompdump
/.zsh_history
/.zshrc
/__pycache__
/gpt2
/.condarc
/.cursor-server
/.docker
/.hushlogin
/.jupyter
/.local
/.nvm
/.oh-my-zsh
/.profile
/.ssh
/.sudo_as_admin_successful
/.windsurf-server
/.vscode-server
y_gpt2-medium355M-sft.pth
